:root {
  --primary: #152c4b;
  --secondary: #333333;
  --light-success: #d4edda;
  --success: #126b33;
  --danger: #d15454;
  --white: #f0f4f8;
  --whatsapp: #075e54;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
}

header {
  background: url("./assets/background.png");
  background-position: center right;
  background-size: cover;
  color: var(--white);
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
}

.text-content {
  flex: 1;
  min-width: 250px;
  text-align: left;
}

.text-content img {
  margin-bottom: 50px;
}

.adv-img {
  height: 100vh;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
}

.informativo {
  height: 100vh;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
}

.informativo-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: wrap;
}

.informativo-texto {
  flex: 1;
}

.informativo-texto h2 {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.informativo-texto p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--secondary);
}

.informativo-texto ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.informativo-texto ul li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.informativo-texto ul li i {
  color: var(--success);
  margin-right: 0.5rem;
}


.informativo-imagem {
  flex: 1;
  text-align: center;
}

.informativo-imagem img {
  max-width: 100%;
  height: auto;
}

.sobre {
  height: 100vh;
  background: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 3rem 2rem;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 2rem;
  flex-wrap: wrap;
}

.sobre-imagem {
  flex: 1;
  text-align: center;
}

.sobre-imagem img {
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border: 2px solid var(--white);
}

.sobre-texto {
  flex: 1;
}

.sobre-texto h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.sobre-texto p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.secao-completa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #f5f5f5;
  padding: 3rem 2rem;
}

.session-content{
  max-width: 1200px;
}

.coluna-esquerda,
.coluna-direita {
  flex: 1;
  min-width: 320px;
}

.coluna-esquerda h2,
.coluna-direita h2 {
  font-size: 1.8rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

.coluna-esquerda ul {
  list-style: none;
  padding: 0;
}

.coluna-esquerda ul li {
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--secondary);
  font-size: 1.1rem;
}

.coluna-esquerda ul li span {
  background: var(--success);
  color: var(--white);
  font-weight: 700;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.recuperacao,
.urgencia {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-bottom: 1.5rem;
}

.recuperacao p,
.urgencia p {
  font-size: 1.1rem;
  color: var(--secondary);
  line-height: 1.6;
}

.urgencia ul {
  list-style: none;
  padding-left: 0;
  margin: 20px 0;
}

.urgencia ul li {
  margin-bottom: 12px;
  font-size: 1.05em;
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.urgencia ul li span {
  background: var(--danger);
  color: var(--white);
  font-weight: 700;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.cta-final {
  height: 100vh;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  text-align: left;
}

.cta-content {
  max-width: 1200px;
}

.cta-content h2 {
  font-size: 2.2rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.cta-content p {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.form-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
}

.form-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
}

.mapa {
  width: 700px;
  max-width: 100%;
  height: 450px;
  border: 0;
}

.mapa-header {
  margin-bottom: 20px;
}

.mapa-header h2 {
  font-size: 2em;
  margin: 0;
  color: var(--secondary);
}

.mapa-header p {
  font-size: 1.1em;
  color: var(--secondary);
  margin-bottom: 20px;
}


.form-container {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.form-container h2 {
  margin-bottom: 1rem;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-container textarea {
  resize: vertical;
  height: 120px;
}

#mensagem-sucesso{
  background-color: var(--light-success);
  color: var(--success);
  border: 1px solid var(--light-success);
  padding: 15px 20px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

ul.lista-estrategias {
  list-style: none;
  margin: 20px 0;
}

ul.lista-estrategias li {
  margin-bottom: 12px;
  font-size: 1.05em;
  color: var(--white);
}


.whatsapp-btn {
  background: var(--whatsapp);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  transition: filter 0.3s ease;
  text-decoration: none;
}

.whatsapp-btn a {
  text-decoration: none;
  color: var(--white);
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: filter 0.3s ease;
  text-decoration: none;
}

.whatsapp-btn:hover, .btn-primary:hover {
  filter: brightness(90%);
}


.footer {
  background: var(--primary);
  color: var(--white);
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-info p {
  margin: 1rem 0;
  font-size: 0.95rem;
}

@media (max-width: 1024px) {
  .text-content {
    text-align: center;
  }
  .sobre, .informativo, .formulario-contato, .cta-final  {
    height: 100%;
  }
  .adv-img {
    display: none;
  }
  .header-content {
    justify-content: center;
  }
  .informativo-content {
    flex-direction: column;
  } 
  .sobre-texto {
    flex: 0 1 auto;
  }
}
