:root {
  --primary: #152c4b;
  --secondary: #333333;
  --light-success: #d4edda;
  --success: #126b33;
  --danger: #d15454;
  --warning: 	#f0ad4e;
  --white: #f0f4f8;
  --whatsapp: #075e54;
}

body {
  background: var(--white);
}

header {
  background: url("../assets/background.webp");
  background-position: center right;
  background-size: cover;
  color: var(--white);
  text-align: center;
  padding: 0 2rem;
}

.header-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
}

.text-content {
  flex: 1;
  min-width: 250px;
  text-align: left;
}

.text-content img {
  margin-bottom: 50px;
  max-width: 100%;
}

.text-content p {
  margin-bottom: 1rem;
}

.adv-img {
  height: 100vh;
  max-width: 100%;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
}

.informativo {
  height: 100vh;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
}

.informativo-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: wrap;
}

.informativo-texto {
  flex: 1;
}

.informativo-texto h2 {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.informativo-texto p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--secondary);
}

.informativo-texto ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.informativo-texto ul li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.informativo-texto ul li i {
  color: var(--success);
  margin-right: 0.5rem;
}


.informativo-imagem {
  flex: 1;
  text-align: center;
}

.informativo-imagem img {
  max-width: 100%;
  height: auto;
}

.sobre {
  background: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 2rem;
  flex-wrap: wrap;
}

.sobre-imagem {
  flex: 1;
  text-align: center;
}

.sobre-imagem img {
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border: 2px solid var(--white);
  max-width: 100%;
}

.sobre-texto {
  flex: 1;
}

.sobre-texto h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.sobre-texto p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.section-container {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 6px 0 var(--primary);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-adv {
  color: var(--primary);
  font-size: 24px;
}

.card h2 {
  margin-top: 0;
  color: var(--primary);
  font-size: 1.2rem;
}

.card p {
  color: var(--secondary);
  line-height: 1.6;
}

.process-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 20px;
  gap: 40px;
}

.process-text {
  max-width: 600px;
}

.process-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.process-step {
  margin-bottom: 25px;
  text-align: left;
}

.process-step p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.process-image img {
  max-width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.form-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  height: 100vh;
}

.form-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
}

.mapa {
  width: 700px;
  max-width: 100%;
  height: 450px;
  border: 0;
}

.mapa-header {
  margin-bottom: 20px;
}

.mapa-header h2 {
  font-size: 2em;
  margin: 0;
  color: var(--secondary);
}

.mapa-header p {
  font-size: 1.1em;
  color: var(--secondary);
  margin-bottom: 20px;
}


.form-container {
  flex: 1;
  max-width: 100%;
}

.form-container h2 {
  margin-bottom: 1rem;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-container textarea {
  resize: vertical;
  height: 120px;
}


.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background: var(--whatsapp);
  color: var(--white);
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: filter 0.3s ease;
}

.whatsapp-btn a {
  text-decoration: none;
  color: var(--white);
}

.whatsapp-btn:hover {
  filter: brightness(90%);
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: filter 0.3s ease;
  text-decoration: none;
}

.whatsapp-btn:hover, .btn-primary:hover {
  filter: brightness(90%);
}

.contact-container{
  background: var(--primary);
}

.contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 0;
  gap: 2rem;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.contact-text {
  max-width: 550px;
}

.contact-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--white);
}

.contact-text p {
  font-size: 1rem;
  color: var(--white);
  margin-bottom: 2rem;
  line-height: 1.6;
}

.contact-image img {
  max-width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}


.footer {
  background: var(--primary);
  color: var(--white);
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-info img {
  max-width: 100%;
}

.footer-info p {
  margin: 1rem 0;
  font-size: 0.95rem;
}

.footer-info p a {
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 1024px) {
  header {
    padding: 3rem 2rem;
  }
  .header-content, .informativo, .formulario-contato, .cta-final, .form-contact  {
    height: 100%;
  }
  .footer-info img, .text-content img {
    width: 200px;
    height: auto;
    margin-bottom: 25px;
  }
  .text-content {
    text-align: center;
  }
  .section-container {
    display: block;
  }
  .card {
    margin: 20px 0;
  }
  .adv-img {
    height: 100%;
  }
  .informativo-content {
    flex-direction: column;
  } 
  .sobre-texto {
    flex: 0 1 auto;
  }
}